<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /projetos/php2
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /projetos/php2/index.html [L]

</IfModule>