footer.footer
{
	background: #000;
	padding: 40px;
	color: #fff;
	width: 100%;

}

.default-box
{
	padding: 25px;
	border: 1px solid #ccc;
	border-radius: 25px;
}

[data-simple-json-data-source]:not(.active),
[data-simple-json-empty-data]:not(.active),
[data-simple-json-item]:not(.active)
{
	display: none;
}